[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/tiann/KernelSU.git
[submodule "drivers/input/touchscreen/focaltech_3658u/include/firmware"]
	path = drivers/input/touchscreen/focaltech_3658u/include/firmware
	url = https://github.com/Fantasy156/ft3658.git
